
        * {
            margin: 0;
            padding: 0;
        }

        .h {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 50px;
            width: 100%;
            background-color: rgb(0, 0, 0);
            color: gold;
            /* position: fixed; */
            /* top: 0px; */
        }

        .h h1 {
            font-size: 20px;
            animation: logoanimation 5s infinite linear;
        }

        .h h1:hover {
            cursor: pointer;

        }

        @keyframes logoanimation {
            0% {
                color: gold
            }

            50% {
                color: black
            }

            100% {
                color: gold
            }
        }

        .h button,
        .h select {
            color: gold;
            border: 1px solid gold;
            border-radius: 2px;
            background-color: #000000;
            height: 25px;
            width: 75px;
        }

        .h button:hover,
        .h select:hover {
            color: black;
            border: 1px solid gold;
            border-radius: 2px;
            background-color: gold;
            cursor: pointer;
            transition: 1s linear;
        }

        .b {
            /* background-color: black; */
            background-image: url(../bg.png);
            background-repeat: repeat;
            background-size: cover;
            min-height: calc(100vh - 50px);
        }

        .b h1 {
            text-align: center;
            color: #EEEEE8;
            font-size: 50px;
        }

        .b h2 {
            text-align: center;
            color: #EEEEE8;
            font-size: 20px;
        }

        .f {
            background-color: black;
            color: GOLD;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
        }

        .templates {
            width: 100%;
            display: flex;
            justify-content: center;
            /* background-color: gold; */
            gap: 10px;

        }

        .temp {
            width: 200px;
            height: 283px;
            background-color: whitesmoke;
            animation: floating 5s linear infinite;
            opacity: 50%;
            box-shadow: 0px 100px 40px 0px;
        }

        .temp:hover {
            cursor: pointer;
            opacity: 100%;
        }

        .temp1 {
            background-image: url(../temp1.png);
            background-size: cover;
        }

        .temp2 {
            background-image: url(../temp2.png);
            background-size: cover;
        }

        

        @keyframes floating {
            0% {
                transform: translate(0px, 25%);
            }

            50% {
                transform: translate(0px, 20%);
            }

            100% {
                transform: translate(0px, 25%);
            }
        }

        @media (max-width:600px) {
            .templates {
                flex-direction: column;
                align-items: center;
            }

            .b {
                height: calc(1000px);
            }

            .temp {

                box-shadow: 0px 0px 80px 10px;
            }

            .b h1 {
                font-size: 20px;
                padding: 0px 8px 0px 8px;
            }

            .b h2 {
                font-size: 15px;
                padding: 0px 8px 0px 8px;
            }

            .f p {
               font-size: 10px;
            }
        }
    